<div class="row">
    <div class="col-md-12">
          <h2>Items</h2>
          <hr />
          <table class="table">
            <thead>
                <tr>
                <th>Item Id</th>
                <th>Title</th>
                <th>Post Date</th>
                <th>Category</th>
                <th>Price</th>
                <th>Published</th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{postDate}}</td>
                    <td><a href="/items?category={{category}}">{{category}}</a></td>
                    <td>{{price}}</td>
                    <td>{{published}}</td>
                </tr>
                {{/each}}
            </tbody>
            </table>

    </div>
</div>
