<div class="row">
    <div class="col-md-12">
          <h2>Items</h2>
          <a href="/Items/add" class="btn btn-success pull-right">Add Item</a>
          <hr />
        {{#if message}}
            <div class="alert alert-warning">{{message}}</div> <!-- Display the message if it exists -->
        {{else}}
          <table class="table">
            <thead>
                <tr>
                <th>Item Id</th>
                <th>Title</th>
                <th>Post Date</th>
                <th>Category</th>
                <th>Price</th>
                <th>Published</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{postDate}}</td>
                    <td><a href="/items?category={{category}}">{{category}}</a></td>
                    <td>{{price}}</td>
                    <td>{{published}}</td>
                    <td><a href="items/delete/{{id}}" class="btn btn-danger">Delete</a></td>
                </tr>
                {{/each}}
            </tbody>
            </table>
         {{/if}}
    </div>
</div>
